/*StudentPage chung*/
.banner{
    height: 150px;
    background: url(../../../screens/user/imageBlog/background-powerpoint-dep.jpg) top center /cover no-repeat ;
}
.noidung{
    padding-top:10px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    background-color: white;
    height: 1000px;
}
.noidung .col-sm-2{
    padding: 0;
}
.noidung .nav-item{
    text-align: left;
    border-width: 0px 1px 0px 0px ;
    border-color: #b6b4b4;
    border-style: solid;
}
.banner{
    margin-top: 16px;
}
.banner img{
    float: left;
    margin: 0px 18px 0px 15%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}
.banner .thongtin_hs{
    float: left;
    margin-top: 40px;
    text-align: left;
    color: #f5d3a5;
    font-size: 20px;
}

.banner .thongtin_hs{
    text-shadow: -2px 2px 2px #8aa3a4;
}

.banner .thongtin_hs #hovaten{
    font-size: 30px;
    margin-bottom: 5px;
}

.banner button{
    float: right;
    margin-top: 50px;
    margin-right:100px ;
}
/*Het StudentPage chung*/

/*Bat dau Khoa hoc*/
.course{
    display:inline-block;
    float: left;
}
.course .card{
    float: left;
    margin: 10px;
}
.course .titleKhoahoc{
    text-align: left;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    border-width: 0px 0px 1px 0px ;
    border-style: solid;
    border-color: #b6b4b4;
    color: #ff7f08;
    font-style: oblique;
    font-weight: bold;
}
/*Ket thuc khoa hoc*/
.titleThongtin{
    text-align: left;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    border-width: 0px 0px 1px 0px ;
    border-style: solid;
    border-color: #b6b4b4;
    color: #ff7f08;
    font-style: oblique;
    font-weight: bold;
}
.noidungThongtin{
    text-align: left;
    display:inline-block;
    float: left;
    margin-top: 20px;
    margin-left: 40px;
}


.Courses{
    position: relative;
}
#slide-course{
    margin-top: -20px;
    color: white;
}
.course_brief{
    background-color: #fd9d9d;
    margin-top: -100px;
    margin-right: 15%;
    margin-left: 15%;
    height: 190px;
}
#course_banner{
    position: absolute;
    top:0;
    left:0;
}
.brief{
    float: left;
    margin-left: 10px;
}
.CourseName h1{
    font-size: 32px;
    color: white;
    text-align: left;
    margin-left: 4%;
}
.BriefContent{
    border-color: white;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
}
.BriefInf{
    border-color: white;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
}
.InforItem {
    display: block;
    text-align: left;
}
.InforItem span{
    font-size: 18px;
    margin-top: 8px;
    font-weight: lighter;
}
.InforItem .float-left{
    color: #e3e2e2;
    margin-right: 30px;
}
.BriefStatus{
    margin-top: 30px;
}
.Courses #content{
    margin-top: 30px;
    text-align: left;
    font-size: 15px;
    margin-left: 15%;
    margin-right: 15%;
}
.courselearned 
.courselearned .card-course{
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 5px;
    border: 1px solid #ff0000;
    box-shadow: 5px 10px #f36673;
    text-align: left;
    -moz-osx-font-smoothing: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.courselearned .card-course p{
    color: black;
}
.courselearned .card-course .card-sub{
    font-style: oblique;
    font-size: 13px;
    margin-top: 2%;
}
.courselearned .card-course .card-body .card-title{
    font-size: 20px;
    font-weight: bolder;
    color: #d29a61;
    font-style: initial;
}
.courselearned .card-course .card-body .card-title:hover{
    color: #f36673;
}
.courselearned .card-course .card-text{
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.courselearned .card-course .card-text a{
    font-size: 15px;
    color: black;
    font-weight:normal;

}
.courselearned .card-course .read-more{
    padding-top: 10px;
    font-weight: bold;
    font-size: small;
    color : black;
}
.courselearned .card-course .read-more:hover{
    color: #008bff;
}